* {
  font-family: sans-serif;
}

button.square {
  font-size: 2rem;
  line-height: 0;
  border: none;
  border-radius: 1px;
  box-shadow: 5px 5px 15px 1px rgba(68, 37, 75, 0.311);
  width: 4rem;
  height: 4rem;
  max-height: 4rem;
  margin: 0.8rem;
  color: rgb(62, 26, 77);
}
.board-row {
  margin: 0;
  padding: 0;
}

.status {
  margin-bottom: 2rem;
  color: white;
}

.container {
  background-color: hsl(268, 37%, 37%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
