* {
  font-family: sans-serif;
}

button.square {
  font-size: 2rem;
  line-height: 0;
  border: none;
  border-radius: 2px;
  box-shadow: 5px 8px 25px 1px rgba(44, 30, 49, 0.44);
  width: 4rem;
  height: 4rem;
  max-height: 4rem;
  margin: 0.8rem;
  color: rgba(255, 255, 255, 0.822);
  cursor: pointer;
  background-color: rgba(69, 36, 88, 0.232);
  transition: background 0.6s ease-out;
}

button.square:active {
  background: rgba(159, 159, 159, 0.174);
  transition: width 0s, height 0s;
}

.board-row {
  margin: 0;
  padding: 0;
}

.blur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(50px);
  width: 100%;
  height: 100vh;
}

.status {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.926);
}

.container {
  background: url("../../images/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
